#imgbtn{

    width: 70px;
    height: 70px;
    
    }
    #choose{
        outline: none;
        border: none;
    }
    #choose:active{
        border: 1px solid rgb(218, 140, 39);
    }
    #choose:focus{
        border: 1px solid rgb(218, 140, 39);
    }
    #win{
        z-index: 9;
        position: absolute;
        display: none;
        margin-top: 23%;
        animation: move 6s ease 1 forwards;
       transition: animation 5s;
       width: 27%;
       height:35vh;
       margin-top: 26%;
    }
    .myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        margin-bottom: 3%;
        }
        
        .myBtn:hover {
        background: #ddd;
        color: black;
        }  
    @keyframes move {
        from {left: -150px;}
        to {left: 600px;}
      }
      #gameover{
        z-index: 9;
        position: absolute;
        display: none;
        margin-top:24%;
        animation: move 6s ease 1 forwards;
       transition: animation 5s;
       width: 27%;
       height: 300px;
    }
    .myVideo {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    /*Add some content at the bottom of the video/page */
    .content {
    position: fixed;
    color: #f1f1f1;
    margin: auto;
     width: 84%; 
     margin-top: 2%;
     margin-left: 8%;
    /* padding: 20px; */
    }
    img{
        z-index: 3;
        height:5%;
        width: 5%;
        margin-left: 4%;
         margin-bottom: 4%; 
         cursor: pointer;
    
    }
    .dragdiv img{
        height:100%;
        width: 100%;
    }
    #backbutton{
        position: fixed;
    color: #f1f1f1;
    margin: auto;
     width: 8%; 
     height: 18vh;
     margin-top: 38%;
     margin-left: 3%;
      }
      #home{
        position: fixed;
        margin: auto;
        margin-left: 80%;
        margin-top: 41%;
        height: 8vh;
      }
     
    