/* Style the video: 100% width and height to cover the entire window */
/*Start page styling*/
.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/*Add some content at the bottom of the video/page */
.content {
position: fixed;
width: 100%; 
margin: auto;

}

/* Style the button used to pause/play the video  */
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

#myBtn:hover {
background: #ddd;
color: black;
}  
img{
width: 70px;
}
#all{
width:60%;
margin: auto;
margin-top: 400px;

}
#SongsButton:hover{
  background-color: rgb(239, 118, 118);
  color:rgb(236, 225, 106);
}
#NumbersButton:hover{
  background-color: rgb(239, 118, 118);
  color:rgb(63, 116, 231);
} 
#LettersButton:hover{
  background-color: rgb(239, 118, 118);
  color:rgb(106, 236, 119);
} 

#GamesButton:hover{
  background-color: rgb(239, 118, 118);
  color:rgb(106, 236, 119);
}
#letsplay{
  position: fixed;
  width:28%;
  height:58%;
  margin-left: 35%; 

}
 #LettersButton
 {
  background-color: rgb(106, 236, 119);
  width: 10%;
  height: 6.5%;
  margin-top:33%;
  font-size:2vw;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 25%; 
  border-radius: 6%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border:solid black ;
  border-width: 6%;
  position: fixed;
  cursor: pointer;
 }


#SongsButton
{
  cursor: pointer;
  background-color: rgb(236, 225, 106);
  width: 10%;
  height: 6.5%;
  margin-top:33%;
  font-size:2vw;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 39%; 
  border-radius: 6%;
  border: black solid;
  border-width: 6%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  position: fixed;
}
#NumbersButton
{
  cursor: pointer;
  background-color: rgb(236, 225, 106);
  width: 10%;
  height: 6.5%;
  margin-top:33%;
  font-size:2vw;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 53%; 
  border-radius: 6%;
  border: black solid;
  border-width: 6%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  position: fixed;
}
#GamesButton{
  cursor: pointer;
  background-color: rgb(236, 225, 106);
  width: 10%;
  height: 6.5%;
  margin-top:33%;
  font-size:2vw;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 67%; 
  border-radius: 6%;
  border: black solid;
  border-width: 6%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  position: fixed;
}
#animedDiv
{
  position: fixed;
      animation-name: animA;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}
    


  @keyframes animA{
     0% {left:85%;top:0px;transform: rotate(30deg);}
     48% {left:85%;top:80% ;transform: rotate(45deg);}
    50% {left:85%;top:80% ;transform: rotate(45deg);}
    100% {left:85%;top:0px ;transform: rotate(30deg);}

  }

  #animedA{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
  /* ////////////// */
  #animedDiv2
{
  position: fixed;
      animation-name: animB;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}
    

  @keyframes animB{
     0% {left:90%;top:0px;transform: rotate(0deg);}
    48% {left:90%;top:80% ;transform: rotate(45deg);}
    50% {left:90%;top:80% ;transform: rotate(45deg);}
    100% {left:90%;top:0px;transform: rotate(0deg);}
  }

  #animedB{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }


  /* /////// */
  #animedDiv3
{
  position: fixed;
      animation-name: animC;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}
  @keyframes animC{
     0% {left: 25%;top:0px;transform: rotate(180deg);}
     48% {left:25%;top:80% ;transform: rotate(45deg);}
    50% {left:25%;top:80% ;transform: rotate(45deg);}
    100% {left:25%;top:0px ;transform: rotate(180deg);}

  }
  #animedC{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
  /* //////// */

  #animedDiv4
{
  position: fixed;
      animation-name: animD;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}

  @keyframes animD{
    0% {left:32%;top:0px;transform: rotate(45deg);}
    48% {left:32%;top:80% ;transform: rotate(45deg);}
    50% {left:32%;top:80% ;transform: rotate(45deg);}
    100% {left:32%;top:0px ;transform: rotate(45deg);}
  }

  #animedD{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
  /* ////////////// */
  #animedDiv5
{
  position: fixed;
      animation-name: animE;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}

  @keyframes animE{
     0% {left:78%;top:0px;transform: rotate(60deg);}
     48% {left:78%;top:80% ;transform: rotate(45deg);}
    50% {left:78%;top:80% ;transform: rotate(45deg);}
    100% {left:78%;top:0px ;transform: rotate(60deg);}
  }

  #animedE{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
  /* ////////////// */
  #animedDiv6
{
  position: fixed;
      animation-name: animF;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}

  @keyframes animF{
     0% {left:8%;top:0px;transform: rotate(0deg);}
     48% {left:8%;top:80% ;transform: rotate(45deg);}
    50% {left:8%;top:80% ;transform: rotate(45deg);}
    100% {left:8%;top:0px ;transform: rotate(0deg);}
  }

  #animedF{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
  /* ////////////// */
  #animedDiv7
{
  position: fixed;
      animation-name: animG;
      animation-duration: 7s;
      animation-iteration-count: infinite;
}

  @keyframes animG{
     0% {left:70%;top:0px;transform: rotate(30deg);}
     48% {left:70%;top:80% ;transform: rotate(45deg);}
    50% {left:70%;top:80% ;transform: rotate(45deg);}
    100% {left:70%;top:0px ;transform: rotate(30deg);}
  }

  #animedG{
    position: fixed;
    opacity: 0.5;
    width:12vh;
  }
