.myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*Add some content at the bottom of the video/page */
.content {
position: fixed;
color: #f1f1f1;
margin: auto;
 width: 84%; 
 margin-top: 8%;
 margin-left: 5%;
/* padding: 20px; */
}
#hint{
    position: fixed;
color: black;
margin: auto;
 margin-left: 40%;
 background-color: rgba(95, 158, 160,0.4);
 border: 2px black solid;
 border-radius: 20px;
 height: 30px;
 width: 300px;
 text-align: center;
 font-size: 28px;
 padding: 10px;
}
img{
    width: 5.5%;
    margin-left: 3.5%;
     margin-bottom: 1%; 
     margin-top: 3%;
     cursor: pointer;
}
#backbutton{
    position: fixed;
color: #f1f1f1;
margin: auto;
 width: 8%; 
 margin-top: 25%;
 margin-left: 1%;
  }
  #nextbutton{
    position: fixed;
color: #f1f1f1;
margin: auto;
 width: 8%; 
 margin-top: 25%;
 margin-left: 80%;
  }