
.myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*Add some content at the bottom of the video/page */
.content {
position: fixed;
color: #f1f1f1;
margin: auto;
 width: 55%; 
 margin-top: 4%;
 margin-left: 8%;
/* padding: 20px; */
}
/*Add some content at the bottom of the video/page */

#ClickNumber
{
    width: 100px;
  /*  margin-left: 0px;
    margin-bottom: 0px; */
    position: fixed;

}
img{
  width: 17%;
  margin-left: 3.5%;
   margin-bottom: 1%; 
   margin-top: 2%;
cursor: pointer;
}
  #CalculatorButton:hover{
    background-color: rgb(239, 118, 118);
    color:rgb(63, 116, 231);
  } 
  
  .numbersPage {
    position: fixed;
    color: #f1f1f1;
     width: 50%;
     margin-top: 99px;
     /* transition: background-image 3s */
    }
  
  #CalculatorButton
  { position: absolute;
    background-color: #46868f;
    width: 24%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 18%;
    /* margin: auto; */
    margin-left: 70%;
    margin-top: 19%;
    /* margin-top: 200px; */
    font-size: 8.5vh;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 5vh;
    border: black solid;
    border-width: 1vh;
    position: fixed;
}
#backbutton{
  position: fixed;
color: #f1f1f1;
margin: auto;
width: 7%; 
margin-top: 40%;
margin-left: 2.5%;
}

