#imgbtn{

    width: 70px;
    height: 70px;
    
    }
    #s{
        outline: none;
        border: none;
    }
    #s:active{
        border: 1px solid rgb(218, 140, 39);
    }
    #s:focus{
        border: 1px solid rgb(218, 140, 39);
    }
    #win{
        z-index: 9;
        position: absolute;
        display: none;
        margin-top: -11%;
        animation: move 6s ease 1 forwards;
       transition: animation 5s;
       width: 27%;
       height: 300px;
    }
    #hint{
        position: fixed;
    color:#eb5463;
    margin: auto;
     margin-left: 35%;
     margin-top: 2.5%;
     background-color: rgba(232, 91, 203, 0.352);
     border: 2px rgba(232, 91, 203, 0.352) solid;
     border-radius: 20px;
     height: 30px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
     width: 400px;
     text-align: center;
     font-size: 28px;
     padding: 10px;
    }
    .myBtn {
        
        width: 200px;
        font-size: 25px;
        padding: 10px;
        border: none;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #eb5463;
        border-radius: 30px;
        color: #fff;
        margin-left:30px;
        cursor: pointer;
        margin-top: 2%;
        }
        
        .myBtn:hover {
        background: #ddd;
        color: black;
        }  
    @keyframes move {
        from {left: -150px;}
        to {left: 650px;}
      }
      #gameover{
        z-index: 9;
        position: absolute;
        display: none;
        margin-top: -11%;
        animation: move 6s ease 1 forwards;
       transition: animation 5s;
       width: 27%;
       height: 300px;
    }
    .myVideo {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    /*Add some content at the bottom of the video/page */
    .content {
    position: fixed;
    color: #f1f1f1;
    margin: auto;
     width: 84%; 
     margin-top: 7%;
     
     margin-left: 8%;
    /* padding: 20px; */
    }
    #all img{
        z-index: 3;
        width: 6%;
        margin-left: 4%;
         margin-bottom: 2.5%; 
         margin-top: 2%;
         cursor: pointer;
    
    }
    #backbutton{
        position: fixed;
    color: #f1f1f1;
    margin: auto;
     width: 8%; 
     height: 15vh;
     margin-top: 40%;
     margin-left: 7%;
      }
      #nextbutton{
        position: fixed;
        color: #f1f1f1;
        margin: auto;
         width: 8%; 
         margin-top: 40%;
         margin-left: 80%;
      }