.myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*Add some content at the bottom of the video/page */
.content {
    position: fixed;
    color: #f1f1f1;
    margin: auto;
     width: 84%; 
     margin-top: 5%;
     margin-left: 5%;
    /* padding: 20px; */
    }
img{
    width: 5.5%;
    margin-left: 3.5%;
     margin-bottom: 1%; 
     margin-top: 3%;
     cursor: pointer;
}
#hint{
    position: fixed;
    color:#eb5463;
margin: auto;
 margin-left: 40%;
 margin-top: 2.5%;
 background-color: rgba(232, 91, 203, 0.352);
 border: 2px rgba(232, 91, 203, 0.352) solid;
 border-radius: 20px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
 height: 30px;
 width: 320px;
 text-align: center;
 font-size: 28px;
 padding: 10px;
}
#backbutton{
    position: fixed;
color: #f1f1f1;
margin: auto;
 width: 8%; 
 margin-top: 38%;
 margin-left: 3%;
  }
  .myBtn {
    width: 300px;
    font-size: 28px;
    padding: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eb5463;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 75%;
    } 
    .myBtn:hover {
    background: #ddd;
    color: black;
    }  
    #wordd{
        display: none;
        position: fixed;
        font-size: xx-large;
        width: 300px;
        text-align: center;
        color:darkred;
        height: 58px;
        margin-top: 8%;
        margin-left: 40.7%;
        margin-bottom: 3%;
        border: 2px white solid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 6vh;
        border-radius: 20px;
        background-color: rgba(238, 105, 48, 0.5);
    }